/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: absolute;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    width: 100%;
    height: 100vh;
    position: absolute;
}

/* NAVIGATION */
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: #000000;
}
#chk1{
    display: none;
}
i{
    color:#f2f2f2;
    cursor: pointer;
}
header .logo{
    flex: -2;
    color: #ff7200;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 24px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:98%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:rgb(14, 3, 3);
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
    margin-left: 6px;
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: #ff7200;
    color: #fff;
}

header ul {
    flex:2;
    display: flex;
    justify-content: flex-start;
}

header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid #ff7200;
    color: #ae9e91;
}

header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
.search-box button{
    position: absolute;
}
    header ul{
    position: fixed;
    top:100px;
    right: -100%;
    background: rgba(0,0,0,0.5);
    height: calc(100vh - 100px);
    width:50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
}
     
header .menu{
    display: block;
    width:100px;
    text-align: center;
}
#chk1:checked ~ ul{
    right: 0;    
}
}

.btn {
    position: absolute;
    top: 45px;
    right: 0;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 700;
    background-color: #ff7200;
}
  
.overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
  
  .overlay.open {
    display: flex;
    animation: show-overlay 0.5s;
  }
  
  @keyframes show-overlay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .login {
    padding: 50px 25px;
    background: white;
    border-radius: 10px;
    margin-top: 40%;
  }
  
  .header {
    position: relative;
  }
  
  .header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000051;
    padding-bottom: 7px;
    border-bottom: 2px solid #000051;
  }
  
  .header i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #000051;
  }
  
  .body .form input {
    display: block;
    padding: 10px;
    margin: 25px 10px;
    outline: none;
    border: solid #000051 1px;
    color: #000051;
    transition: 0.4s;
  }
  
  .body .form input:focus {
    border-color: #534bae;
  }
  
  .footer {
    position: relative;
    height: 40px;
    width: 100%;
  }
  
  .footer button {
    position: absolute;
    padding: 10px;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #000051;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .footer button:hover {
    background: #534bae;
  }




/* div images */
.gwapoko {
    margin: 5px;
    display: inline-flex;
    max-width: 100%;
    margin-left: 3.9%;
}
.sale {
    text-align: center;
    letter-spacing: 5px;
    margin-top: -50px;
}
.hr1 {
    border: solid 1px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 60px;
    color: #ff7200;
}
/* actual images */
.yawa {
    padding-left: 10px;
}
.peepee {
    margin-top: 5px;
}
.cart {
    padding: 15px;
    background-color: #854621f0;
    color: #fff;
    font-family: sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 20px;
    margin-top: -5px;
    size: 10px;
}

/* FOOTER */
footer{
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 2rem;
    background-color: #1a1a1a;
    color: #fafafa;
}

.footer .nav-list{
    width: 50%;
   
}

.nav-list p{
    margin-right: 50%;
    font-size: 0.9em;
}

.nav-list ul{
    position: relative;
    word-spacing: 0.4em;
    font-size: 20px;
}
.nav-list li {
    display: inline-block;    
}

.nav-list li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

