*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    width: 100%; 
    height: 100vh;
}

/* navigation start */
/* horizontal navigation */
header{
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    background: #282A35;
    position: relative;
}    

header .logo{
    color: #04AA6D;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 25px;
}

header .search-box{
    position: relative;
    margin-left: 15px;
    margin-right: 5px;
    width: 25%;
}

header ul {
    flex:2;
    display: flex;
    justify-content: flex-start;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-left: 2px;
}


header ul li a:hover{
    color: #fff;
    background: #0c0c0c7d;
    border-radius: 20px;
}

header a:active{
    background-color: #04AA6D !important;
}

header .menu{
    font-size: 2.5em;
    display: none;
}
#hot{
    background-color: #04AA6D;
    border-radius: 4px;
}

/* Log-In form */
.btn {
    top: 45px;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    font-size: 0.9em;
    font-weight: 700;
    background-color: transparent;
    margin-top: 30px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
  
.overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
  
.overlay.open {
    display: flex;
    animation: show-overlay 0.5s;
}
    /* keyframes are used for animation */
@keyframes show-overlay { 
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.login {
    padding: 50px 25px;
    background: white;
    border-radius: 10px;
    margin-top: 40%;
}
  
.header {
    position: relative;
}
  
.header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000051;
    padding-bottom: 7px;
    border-bottom: 2px solid #000051;
}
  
.header i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #000051;
    cursor: pointer;
}
  
.body .form input {
    display: block;
    padding: 10px;
    margin: 25px 10px;
    outline: none;
    border: solid #000051 1px;
    color: #000051;
    transition: 0.4s;
}
  
.body .form input:focus {
    border-color: #534bae;
}
  
.footer {
    position: relative;
    height: 40px;
    width: 100%;
}
/* position absolute - element relative to its parent's position and changing the layout around it. */
.footer button {
    position: absolute; 
    padding: 10px;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #000051;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
  
.footer button:hover {
    background: #534bae;
}
/* navigation end */

/* table start */
.main---container 
{
    margin: 8px auto;
    padding: 4px;
    width: 99%;
}
.hr1 {
    border: solid 1px #FF7200;
    width: 151%;
    margin-top: 15px;
    margin-bottom: 60px;
}
.title {
    margin-left: 65%;
    margin-top: -40px;
}
#product---container 
{
    width: 66%;
    float: left;
    height: 100vh;
}

#table---container 
{
    width: 34%;
    float: right;
    border: 1px solid black;
    padding: 6px;
    height: 100vh;
    overflow-y: scroll;
}

#product---table 
{
    width: 100%;
    margin-left: 25%;
    margin-top: 50px;
}
#product---table  tr td 
{
    border: 1px solid black;
    padding: 8px;
}

#product---table  tr td .img-thumbnail 
{
    width: 100%;
}

#product---table h4 
{
    font-weight: 500;
    padding: 0 4px;
    font-size: 1.2vw;
}

#product---table span 
{
    color: #0954BD;
    font-weight: 500;
    font-size: 1vw;
    padding: 4px;
}

#product---table button 
{
    padding: 8px;
    font-size: 1vw;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 4px;
    border-radius: 4px;
}

.buyNow 
{
    background-color: #DE6E07 !important;
}

.addToCart 
{
    background-color: #6DAD07 !important;
}

.buyNow:hover {
    background-color: #a35a17 !important;
}

.addToCart:hover {
    background-color: #528107 !important;
}

#product---append---table
{
    width: 100%;
}

#product---append---table tr
{
    border: 1px solid black;
}

#product---append---table td
{
    vertical-align: middle;
}

.table---data--image 
{
    width: 30%;
    border: 1px dashed black;
}

.table-image-name 
{
    width: 100%;
}

.table--data--title
{
    width: 70%;
    border: 1px dashed black;
}

.product--price
{
    color: #DE6E07;
    font-size: 1vw;
    padding: 4px 8px;
}

.product--name 
{
    color: green;
    font-size: 1.2vw;
    padding: 4px 8px;
}

.product--quantity
{
    color: #DE6E07;
    font-size: 1vw;
    padding: 4px 8px;
}

.product--quantit--number 
{
    color: #DE6E07;
    font-size: 1vw;
    border: 1px solid gray;
    padding: 2px 14px;
    text-align: center;
    border-radius: 4px;
}

.table--data--title button
{
    padding: 0 6px;
    margin: 0 6px;
    cursor: pointer;
    background-color: #F2AC00;
    border: none;
    font-size: 1vw;
    border-radius: 2px;
    color: white;
}

#sub--total
{
    width: 100%;
}

#sub--total tr td h5
{
    text-align: right;
    font-size: 1.2vw;
}

#sub--total tr td h5 span
{
    color: red !important;
}

#table---container h4 
{
    font-size: 1.4vw;
    color: gray;
    text-align: center;
}

#payment--table
{
    width: 100%;
    text-align: center;
}

#payment--table button 
{
    padding: 8px 32px;
    font-size: 1.2vw;
    text-align: center;
    background-color: #DE6E07;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

#payment--table button:hover
{
    background-color: #a35a17;
}

#customer_payment_table
{
    width: 100%;
}

#customer_payment_table td 
{
    vertical-align: middle;
}

#customer_payment_table input
{
    padding: 4px 8px;
}

#customer_payment_table input:focus-visible
{
    outline: none;
}

#place--order--table
{
    width: 100%;
    margin-top: 32px;
}

#place--order--table tr td
{
    border: 1px dashed gray;
    padding: 32px;
}

#place--order--table h4
{
    text-align: center;
    font-size: 2vw;
}

#but--now--table
{
    width: 100%;
}

#but--now--table tr td
{
    border: 1px dashed black;
    padding: 8px;
    text-align: center;
}

#but--now--table img
{
    width: 100%;
}

#but--now--table span
{
    font-size: 1vw;
}

#qty---text
{
    padding: 12px;
}

#but--now--table button
{
    padding: 4px 12px;
    border: none;
    background-color: #DE6E07;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#tender--payment--table 
{
    width: 100%;
}

#tender--payment--table td 
{
    vertical-align: middle;
}

#tender--payment--table  input 
{
    padding: 4px 8px;
}

#tender--payment--table  input:focus-visible
{
    outline: none;
}

#place---order----table
{
    width: 100%;
}

#place---order----table button
{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #528107;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
    border-radius: 4px;
}

#place---order----table button:hover
{
    background-color: #4b710e;
}

#total---amount 
{
    width: 100%;
}

#total---amount h4 
{
    text-align: right;
}
del {
    color: red;
    font-size: small;
}
